@{
    ViewData["Title"] = "Home Page";
}

@model TheFun

<style>
    body{
  margin: auto;
  width: 60%;
  padding: 10px;
    text-align: center;
}
</style>

<div class="text-center">
    <h1 class="display-4">Create a Hobby</h1>
</div>
</br>
<form asp-action="Create"  method="post">    
<label asp-for="Name">Name of Hobby:</label>
<br>
<input asp-for="Name">
<br>
<span asp-validation-for="Name" class="alert-danger"></span>
<br>
<br>
<label asp-for="Description">Description:</label>
<br>
<textarea asp-for="Description" rows="4"></textarea>
<br>
<span asp-validation-for="Description" class="alert-danger"></span>
<br>
<input class="btn btn-primary" type="submit" value="Create">
</form>

